*{
    color: #f2f2f2;
    font-size: 1.1rem;
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-style: normal;   
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    /* border: 1px solid red; */
    box-sizing: border-box;
}
body{    
    background-image: url(/assets/img/texture.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}
.bttn{
    background: transparent;
    border: none;
}
.bttn:hover{
    background: transparent;
    border: none;
    color: #c0b3b3 ;
}
.contenedor__principal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    height: 100%;

}
.organizador__left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #100f0f9c;
    padding: 10px;
    border-radius: 10px;
    width: 25%;
    height: 85%;
    
}
.icons{
    width: 30px;
    height: 30px;

}
.contenedor__opciones{
    width: 100%;
    height: 100%;
}
.caja__opciones{
    background-color: #1f1d1d8d;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}
.opciones{
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 5px;
}
.caja__library{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 55%;
    margin-top: 30px;
    background-color: #1f1d1d90;
    border-radius: 10px;
    padding: 10px;
    overflow-y: scroll;
}
.title__library{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px;
    gap: 20px;
}

.Icono-titulo{
    display: flex;
    flex-direction: row;
}
.contenedor-iconos{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.listas{
    display: flex;
    flex-direction: row;
    padding: 0px 16.14px;
    gap: 10px;
    margin-top: 30px;
    height: 85%;
}
.info-opciones{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.7rem;
    gap: 8px;
}
.info-opciones p {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.options{
    width: 14px;
    height: 14px;
}
.covers{
    width: 81px;
    height: 81px;
}

.organizador__right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #100f0f90;
    padding: 10px;
    border-radius: 10px;
    width: 73%;
    height: 85%;

}

.contenedor-playlist{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    width: 100%;
    padding: 10px;
}

.tittle-playlist{
    display: flex;
    flex-direction: row;
    justify-content:center ;
    align-items: center;
    gap: 20px;
    width: 100%;
    border-radius: 10px;
    background-color: #0932037c;
    padding: 10px;
    .txt{
        font-size: 4rem;
    }
}

.songs{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 17%;
    gap: 30px;
    align-items: center;
    padding: 20px;
    overflow-y: scroll ;

}

.songs p{
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.cover-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    gap: 30px;
}
.info-songs{
    display: flex;
    flex-direction: column;
}
.donwload{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer{
    background-color: #100f0fdd;
    padding: 16px 20px;
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-actualsong{
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-left: 100px;
}

.footer-audio{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
    margin-right: 100px;
}